<div class="row">
  <div class="col-6">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-money-bill-alt text-success icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Ingresos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ totalProceeds | currency }}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i> {{ numProceeds }} ingresos
        </p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-shipping-fast text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Egresos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ totalExpenses }}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i> {{ numExpenses }} egresos
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row m-5">
  <div class="col-12">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-building text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Diferencia</p>
            <div class="fluid-container">
              <h3
                [ngClass]="totalProceeds - totalExpenses > 0 ? 'text-success' : 'text-danger'"
                class="font-weight-medium text-right mb-0"
              >
                {{ totalProceeds - totalExpenses | currency }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="totalProceeds > 0 || totalExpenses > 0" class="col-12 p-5">
    <div class="card card-statistics">
      <div class="card-body">
        <h1 class="card-title">Gráfica</h1>
        <div>
          <div>
            <div style="display: block">
              <canvas
                baseChart
                [datasets]="chartDataSets"
                [options]="chartOptions"
                [labels]="chartLabels"
                [chartType]="chartType"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
