{
  "singleQuote":true,
  "trailingComma": "none",
  "arrow-body-style": "true",
  "prefer-arrow-callback": "true",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
