<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Items</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of items | filterItems">
              <td>{{ item.description }}</td>
              <td>{{ item.mount | currency }}</td>
              <td [class]="item.type === 'expense' ? 'text-danger' : 'text-success'">{{ item.type }}</td>
              <td>
                <button (click)="onDelete(item?.uid)" class="btn btn-danger" type="button">
                  <i class="fa fa-trash"></i>
                  Borrar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
